.container{
    text-align: center;
    padding-top: 10px;
}
.centrado{
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.res{
    text-align: center;
    padding-top: 40px;
}
.res1{
    text-align: center;
    padding-top: 10px;
}
.imgres{
    position: absolute;
    padding-top: 40px;
}
.text{
    text-align: justify;
    text-align: center;
    padding-top: 20px;
}
.text1{
    text-align: justify;
    text-align: center;
    padding-top: 1px;
}
form {
    
    margin: 0 auto;
    width: 400px;
    
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    position: absolute;
    top:60%;
    left: 70%;
    transform: translate(-50%, -50%);
    
  }
  .imgc{
    width: 600px;
    height: 600px;
    padding-top: 10px;
    left: 5%;
    position:fixed;
  }
  .timg{
      vertical-align: middle;
      top: 20;
      position: fixed;

  }